/* Color
-------------------------- */
$--color-primary: #5C9ACF !default;
$--color-white: #FFFFFF !default;
$--color-red: #FF5B5B !default;
$--color-green: #1CC09F !default;
$--color-gray: #999999 !default;
$--color-dark-gray: #666666 !default;
